# Node modules
node_modules/

# Build output
dist/
build/

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv environment files
.env*
!.env.example

# IDE
.idea/
.vscode/

# OS-specific
.DS_Store
Thumbs.db
